testtt.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\nconst debugInfo = {\n  jsonKeys: Object.keys(item.json || {}),\n  binaryKeys: Object.keys(item.binary || {}),\n  bodyKeys: Object.keys(item.json?.body || {}),\n  filesKeys: Object.keys(item.json?.files || {}),\n};\n\nconst body = item.json.body || item.json || {};\nconst files = item.json.files || {};\n\nconst uploadedFile =\n  item.binary?.file ||\n  item.binary?.data ||\n  item.binary?.image ||\n  files.file?.[0] ||\n  files.data?.[0] ||\n  files.image?.[0];\n\nif (!uploadedFile) {\n  throw new Error('File not found. Debug: ' + JSON.stringify(debugInfo));\n}\n\nreturn [{\n  json: {\n    postType: body.postType || body.post_type || 'quote post',\n    topic: body.topic || '',\n    mainMessage: body.mainMessage || body.main_message || body.message || '',\n    format: body.format || '1:1',\n    headline: body.headline || body.mainMessage || body.message || '',\n    secondaryText: body.secondaryText || body.secondary_text || ''\n  },\n  binary: {\n    data: uploadedFile\n  }\n}];"
      },
      "id": "ddaed503-e686-4f87-8f46-edd09970b503",
      "name": "Extract Form Data1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5408,
        2880
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "identidadevisual18",
        "responseMode": "lastNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "e40672f1-d160-4332-9e7c-7e84cb9beb67",
      "name": "Webhook6",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -5632,
        2880
      ],
      "webhookId": "5b8b3440-bec1-43ae-958b-f491dadfe934"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "text": "Your job is to describe the brand's visual DNA with enough precision that another AI image model can generate new posts that feel consistent with this brand.\n\nAnalyze only what is visible in the reference. If something is uncertain, mark it as inferred.\n\nExtract the following:\n\nBrand feeling\n\nDescribe the brand's emotional tone in 3 to 6 precise words.\n\nVisual category\n\nIdentify the visual world this brand belongs to: luxury, playful, editorial, tech, wellness, streetwear, educational, creator-led, minimal, chaotic, cinematic, corporate, handcrafted, futuristic, etc.\n\nColor system\n\nExtract the main palette with approximate HEX colors:\n\nPrimary color\n\nSecondary color\n\nAccent color\n\nBackground color\n\nText color\n\nHighlight color\n\nAlso describe saturation, contrast, warmth, and whether the palette feels soft, bold, muted, glossy, earthy, neon, pastel, monochrome, or high contrast.\n\nTypography and text style\n\nDescribe the visible typography:\n\nFont category\n\nWeight\n\nLetter spacing\n\nCase style\n\nHierarchy\n\nText placement\n\nText-to-image ratio\n\nHow headlines are treated\n\nHow secondary text is treated\n\nLayout system\n\nDescribe the composition rules:\n\nGrid style\n\nAlignment\n\nMargins\n\nNegative space\n\nImage placement\n\nText placement\n\nUse of frames, borders, cards, overlays, stickers, labels, or badges\n\nHow crowded or spacious the design feels\n\nImage style\n\nDescribe the imagery:\n\nPhotography, illustration, 3D, collage, flat graphics, mixed media, UI screenshot, editorial, UGC, cinematic, product-focused, character-focused, abstract\n\nSubject framing\n\nCamera angle\n\nDepth of field\n\nCropping style\n\nTexture and sharpness\n\nLighting and surface treatment\n\nDescribe:\n\nLighting direction\n\nLighting quality\n\nShadow softness\n\nHighlight style\n\nGloss, grain, blur, noise, gradients, glass, paper, metal, fabric, or other visible materials\n\nGraphic elements\n\nList recurring visual motifs:\n\nShapes\n\nIcons\n\nLines\n\nArrows\n\nPatterns\n\nGradients\n\nTexture overlays\n\nDecorative marks\n\nMotion cues\n\nUI elements\n\nSocial media adaptation rules\n\nExplain how to create new posts in this identity:\n\nHow a quote post should look\n\nHow an announcement post should look\n\nHow a carousel cover should look\n\nHow a product or feature post should look\n\nHow a story or vertical post should look\n\nAnti-drift rules\n\nList the visual choices that must stay consistent so future generations do not drift away from the brand.\n\nOutput the final result as:\n\nA. Short Brand DNA Summary\n\nB. Detailed Visual Identity Notes\n\nC. Reusable Brand Identity Block in JSON:\n\n{\n\n  \"brand_style\": {\n\n    \"name\": \"\",\n\n    \"mood\": [],\n\n    \"color_palette\": {\n\n      \"primary\": \"\",\n\n      \"secondary\": \"\",\n\n      \"accent\": \"\",\n\n      \"background\": \"\",\n\n      \"text\": \"\",\n\n      \"highlight\": \"\"\n\n    },\n\n    \"typography\": {\n\n      \"font_category\": \"\",\n\n      \"weight\": \"\",\n\n      \"case_style\": \"\",\n\n      \"hierarchy\": \"\",\n\n      \"text_placement\": \"\"\n\n    },\n\n    \"layout\": {\n\n      \"composition\": \"\",\n\n      \"alignment\": \"\",\n\n      \"spacing\": \"\",\n\n      \"graphic_system\": \"\"\n\n    },\n\n    \"imagery\": {\n\n      \"style\": \"\",\n\n      \"cameraorrendering\": \"\",\n\n      \"subject_framing\": \"\",\n\n      \"texture\": \"\"\n\n    },\n\n    \"lighting\": {\n\n      \"direction\": \"\",\n\n      \"quality\": \"\",\n\n      \"shadow_style\": \"\",\n\n      \"highlight_style\": \"\"\n\n    },\n\n    \"social_rules\": {\n\n      \"quote_post\": \"\",\n\n      \"announcement_post\": \"\",\n\n      \"carousel_cover\": \"\",\n\n      \"feature_post\": \"\",\n\n      \"story_post\": \"\"\n\n    },\n\n    \"antidriftrules\": []\n\n  }\n\n}\n\nD. One reusable generation prompt template that uses this identity block.",
        "inputType": "base64",
        "options": {}
      },
      "id": "6e74bc1c-5a36-4055-9205-6c2711e2d189",
      "name": "Analyze Product Image4",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        -5184,
        2880
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a prompt-writer for an AI image generation model.\n\nYou will receive a brand visual identity analysis (derived ONLY from the reference image) and some post inputs (post type, topic, headline, format).\n\nTask: write ONE final image-generation prompt for the model to create a new social media post image that fits the same feed/brand identity.\n\nRules:\n- Preserve the brand's visual identity exactly (colors, typography feel, layout logic, imagery treatment, graphic motifs).\n- If something in the identity is uncertain, keep it conservative and do not invent specifics.\n- Make text readable with strong hierarchy and brand-consistent spacing.\n- Output ONLY the final prompt text (no markdown, no JSON).",
              "role": "system"
            },
            {
              "content": "=Using the brand identity block below, create a new social media post image for:\n\nPost type: {{ $(\"Extract Form Data1\").item.json.postType }}\nTopic: {{ $(\"Extract Form Data1\").item.json.topic }}\nMain message: {{ $(\"Extract Form Data1\").item.json.mainMessage }}\nFormat: {{ $(\"Extract Form Data1\").item.json.format }}\n\nPreserve the brand's visual identity exactly:\n\n{{ $(\"Analyze Product Image4\").item.json.content || $(\"Analyze Product Image4\").item.json.message?.content || \"\" }}\n\nGenerate a new design that follows the same color system, typography style, layout logic, image treatment, lighting, textures, and graphic motifs. Make it feel like part of the same social feed, while creating a fresh composition for this specific post.\n\nUse the main message as the headline:\n\"{{ $(\"Extract Form Data1\").item.json.headline }}\"\n\nIf secondary text is needed, use:\n\"{{ $(\"Extract Form Data1\").item.json.secondaryText }}\""
            }
          ]
        },
        "options": {}
      },
      "id": "3416f4ee-48ed-4a45-9e47-09fc98c09acc",
      "name": "Create Image Prompt4",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -4960,
        2880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: \"gpt-image-2\", prompt: $json.message.content, n: 1, size: (() => { const f = $(\"Extract Form Data1\").item.json.format || \"1:1\"; if (f === \"9:16\") return \"1024x1792\"; if (f === \"16:9\") return \"1792x1024\"; if (f === \"4:5\") return \"1024x1280\"; return \"1024x1024\"; })() }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "c6b75a06-5b04-40fd-9190-9e64ed3ea793",
      "name": "GPT Image API5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4608,
        2880
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "id": "f5724b27-e3c9-4ed0-a67f-1c0010e060ff",
      "name": "Convert To Binary5",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -4384,
        2880
      ]
    },
    {
      "parameters": {
        "name": "createdImage",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1rrdo_-_j_2FsGBEkUcTuTQRHfG0-AXHF",
          "mode": "list",
          "cachedResultName": "Imagens n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1rrdo_-_j_2FsGBEkUcTuTQRHfG0-AXHF"
        },
        "options": {}
      },
      "id": "a24d7244-9a26-41e0-8dd3-f3a6874677f0",
      "name": "Upload Image5",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -4160,
        2880
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "success",
              "value": "=true",
              "type": "boolean",
              "id": "a1"
            },
            {
              "name": "fileId",
              "value": "={{ $json.id }}",
              "type": "string",
              "id": "a2"
            },
            {
              "name": "fileName",
              "value": "={{ $json.name }}",
              "type": "string",
              "id": "a3"
            },
            {
              "name": "viewLink",
              "value": "={{ $json.webViewLink }}",
              "type": "string",
              "id": "a4"
            },
            {
              "name": "downloadLink",
              "value": "={{ $json.webContentLink }}",
              "type": "string",
              "id": "a5"
            },
            {
              "name": "thumbnailLink",
              "value": "={{ $json.thumbnailLink }}",
              "type": "string",
              "id": "a6"
            },
            {
              "name": "createdAt",
              "value": "={{ $json.createdTime }}",
              "type": "string",
              "id": "a7"
            },
            {
              "name": "imagePrompt",
              "value": "={{ $('Create Image Prompt4').item.json.message.content }}",
              "type": "string",
              "id": "a8"
            },
            {
              "name": "brandIdentityAnalysis",
              "value": "={{ $('Analyze Product Image4').item.json.content || $('Analyze Product Image4').item.json.message?.content || '' }}",
              "type": "string",
              "id": "a9"
            }
          ]
        },
        "options": {}
      },
      "id": "b63c4f00-b64e-48fb-b153-c7f9e249794f",
      "name": "Format Response6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3936,
        2880
      ]
    },
    {
      "parameters": {
        "content": "# 📸 WORKFLOW: Gerador de Posts com Identidade Visual\n\n## 🔄 FLUXO:\n1. Webhook recebe multipart/form-data\n2. Extract extrai campos + binary do ficheiro\n3. Analyze analisa identidade visual da imagem\n4. Create gera prompt para nova imagem\n5. GPT Image API cria a imagem\n6. Convert converte para binary\n7. Upload para Google Drive\n8. Retorna links e metadados",
        "height": 400,
        "width": 2368,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5824,
        2688
      ],
      "typeVersion": 1,
      "id": "89b8572b-aa5e-46c4-8ce7-39ae49c6c001",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\nconst debugInfo = {\n  jsonKeys: Object.keys(item.json || {}),\n  binaryKeys: Object.keys(item.binary || {}),\n  bodyKeys: Object.keys(item.json?.body || {}),\n  filesKeys: Object.keys(item.json?.files || {}),\n};\n\nconst files = item.json.files || {};\n\nconst uploadedFile =\n  item.binary?.file ||\n  item.binary?.data ||\n  item.binary?.image ||\n  files.file?.[0] ||\n  files.data?.[0] ||\n  files.image?.[0];\n\nif (!uploadedFile) {\n  throw new Error('File not found. Debug: ' + JSON.stringify(debugInfo));\n}\n\nreturn [{\n  json: {},\n  binary: {\n    data: uploadedFile\n  }\n}];"
      },
      "id": "748c1258-950d-4fb6-9477-8bf5fc60d08f",
      "name": "Extract File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5552,
        3280
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-product-photo1",
        "responseMode": "lastNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "de4b3bba-4c93-4fd0-a383-0963221e163d",
      "name": "Webhook7",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -5808,
        3280
      ],
      "webhookId": "generate-product-photo"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "text": "Super briefly describe what's in this image.",
        "inputType": "base64",
        "options": {}
      },
      "id": "c68dcb58-6762-49cd-abd5-71f6bd0037b4",
      "name": "Analyze Product Image5",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        -5328,
        3280
      ],
      "credentials": {
        "openAiApi": {
          "id": "OIjFOfOxsF0y07Uk",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "=Create a short prompt for an AI image generator that will be fed a photo of a product, to ultimately have professional product photography.\n\n- If the product is wearable you have to include the product worn by a human model.\n- If it's not wearable then include a human model holding or using it.\n- The model's face should always be visible.\n- Include realistic lighting, cinematic subtle grain, professional colors, strong realism and professional composition.\n- Always refer to the uploaded item as 'this product'.\n\nOnly output the final prompt.",
              "role": "system"
            },
            {
              "content": "=Description of product:\\n\\n{{ $json.content || $json.message?.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fc680b4d-9b44-4c16-a2bf-bd057c63249b",
      "name": "Create Image Prompt5",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -5088,
        3280
      ],
      "credentials": {
        "openAiApi": {
          "id": "OIjFOfOxsF0y07Uk",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/edits",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $('Create Image Prompt5').item.json.message.content }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "image[]",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "gpt-image-1"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "58403880-1185-441e-9109-b9f72e906c89",
      "name": "GPT Image API6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4736,
        3280
      ],
      "credentials": {
        "openAiApi": {
          "id": "OIjFOfOxsF0y07Uk",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "id": "d4465f3c-3e5c-4942-a9c7-3d72bc8b5ce6",
      "name": "Convert To Binary6",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -4272,
        3280
      ]
    },
    {
      "parameters": {
        "name": "createdImage",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1rrdo_-_j_2FsGBEkUcTuTQRHfG0-AXHF",
          "mode": "list",
          "cachedResultName": "Imagens n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1rrdo_-_j_2FsGBEkUcTuTQRHfG0-AXHF"
        },
        "options": {}
      },
      "id": "1f974a8b-d10c-4fc4-9076-138408104e46",
      "name": "Upload Image6",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -4016,
        3280
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Cg3ECPi3RaQMD99o",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "success",
              "value": "=true",
              "type": "boolean"
            },
            {
              "name": "fileId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "name": "fileName",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "name": "viewLink",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            },
            {
              "name": "downloadLink",
              "value": "={{ $json.webContentLink }}",
              "type": "string"
            },
            {
              "name": "thumbnailLink",
              "value": "={{ $json.thumbnailLink }}",
              "type": "string"
            },
            {
              "name": "createdAt",
              "value": "={{ $json.createdTime }}",
              "type": "string"
            },
            {
              "name": "imagePrompt",
              "value": "={{ $('Create Image Prompt5').item.json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "609d7d24-a384-4382-bcce-6992cbe098e9",
      "name": "Format Response7",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3760,
        3280
      ]
    },
    {
      "parameters": {
        "content": "# 📸 WORKFLOW: Fotografia de Produto (upload de ficheiro)",
        "height": 320,
        "width": 2368
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5872,
        3152
      ],
      "typeVersion": 1,
      "id": "96d02d73-d537-454a-9fea-12f3b1c6c29d",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "removerfundo",
        "responseMode": "lastNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "f8b3af7d-621e-49d1-adcc-a55fc6e5bf7d",
      "name": "Webhook8",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -5792,
        3680
      ],
      "webhookId": "removerfundo"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\nconst debugInfo = {\n  jsonKeys: Object.keys(item.json || {}),\n  binaryKeys: Object.keys(item.binary || {}),\n  bodyKeys: Object.keys(item.json?.body || {}),\n  filesKeys: Object.keys(item.json?.files || {}),\n};\n\nconst files = item.json.files || {};\n\nconst uploadedFile =\n  item.binary?.file ||\n  item.binary?.data ||\n  item.binary?.image ||\n  files.file?.[0] ||\n  files.data?.[0] ||\n  files.image?.[0];\n\nif (!uploadedFile) {\n  throw new Error('File not found. Debug: ' + JSON.stringify(debugInfo));\n}\n\nreturn [{\n  json: {},\n  binary: {\n    data: uploadedFile\n  }\n}];"
      },
      "id": "993fa730-d21b-49bf-8ff6-d9129e983071",
      "name": "Extract File1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5536,
        3680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/edits",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "Remove the background from the image and return a PNG with a transparent background (alpha). Keep the main subject exactly the same, centered, with clean edges. Do not add any new objects or text."
            },
            {
              "parameterType": "formBinaryData",
              "name": "image[]",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "gpt-image-1"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "dd7bbbdc-61c4-499b-b20d-eb43d2183484",
      "name": "GPT Image API7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4656,
        3680
      ],
      "credentials": {
        "openAiApi": {
          "id": "OIjFOfOxsF0y07Uk",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "id": "1f3b5450-4a15-4b48-a780-67f811d16665",
      "name": "Convert To Binary7",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -4304,
        3680
      ]
    },
    {
      "parameters": {
        "name": "createdImage",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1rrdo_-_j_2FsGBEkUcTuTQRHfG0-AXHF",
          "mode": "list",
          "cachedResultName": "Imagens n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1rrdo_-_j_2FsGBEkUcTuTQRHfG0-AXHF"
        },
        "options": {}
      },
      "id": "637c4d33-b3ba-41a4-94a9-49a0cb07bdb5",
      "name": "Upload Image7",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -4000,
        3680
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Cg3ECPi3RaQMD99o",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "success",
              "value": "=true",
              "type": "boolean"
            },
            {
              "name": "fileId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "name": "fileName",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "name": "viewLink",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            },
            {
              "name": "downloadLink",
              "value": "={{ $json.webContentLink }}",
              "type": "string"
            },
            {
              "name": "thumbnailLink",
              "value": "={{ $json.thumbnailLink }}",
              "type": "string"
            },
            {
              "name": "createdAt",
              "value": "={{ $json.createdTime }}",
              "type": "string"
            },
            {
              "name": "imagePrompt",
              "value": "=Remove the background from the image and return a PNG with a transparent background (alpha). Keep the main subject exactly the same, centered, with clean edges. Do not add any new objects or text.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3f1cb2e2-9e47-471d-b11d-0da471336506",
      "name": "Format Response8",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3744,
        3680
      ]
    },
    {
      "parameters": {
        "content": "# 📸 WORKFLOW: Remover Fundo (upload de ficheiro)",
        "height": 320,
        "width": 2368
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5856,
        3552
      ],
      "typeVersion": 1,
      "id": "679fc291-1f09-4b5a-8a0d-d26c775d35fb",
      "name": "Sticky Note26"
    }
  ],
  "connections": {
    "Extract Form Data1": {
      "main": [
        [
          {
            "node": "Analyze Product Image4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook6": {
      "main": [
        [
          {
            "node": "Extract Form Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Product Image4": {
      "main": [
        [
          {
            "node": "Create Image Prompt4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Image Prompt4": {
      "main": [
        [
          {
            "node": "GPT Image API5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT Image API5": {
      "main": [
        [
          {
            "node": "Convert To Binary5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert To Binary5": {
      "main": [
        [
          {
            "node": "Upload Image5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image5": {
      "main": [
        [
          {
            "node": "Format Response6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract File": {
      "main": [
        [
          {
            "node": "Analyze Product Image5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook7": {
      "main": [
        [
          {
            "node": "Extract File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Product Image5": {
      "main": [
        [
          {
            "node": "Create Image Prompt5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Image Prompt5": {
      "main": [
        [
          {
            "node": "GPT Image API6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT Image API6": {
      "main": [
        [
          {
            "node": "Convert To Binary6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert To Binary6": {
      "main": [
        [
          {
            "node": "Upload Image6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image6": {
      "main": [
        [
          {
            "node": "Format Response7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook8": {
      "main": [
        [
          {
            "node": "Extract File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract File1": {
      "main": [
        [
          {
            "node": "GPT Image API7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT Image API7": {
      "main": [
        [
          {
            "node": "Convert To Binary7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert To Binary7": {
      "main": [
        [
          {
            "node": "Upload Image7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image7": {
      "main": [
        [
          {
            "node": "Format Response8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9ad7d933d1475da5d4ebd8ae3c94283f04cc5ca6dd718940d45ceb3055b163d8"
  }
}