todos-os-workflows.json
{
  "_info": {
    "exportedAt": "2026-06-27",
    "sources": {
      "app_workflows": "KV Supabase — cards visíveis na app (7 entradas)",
      "n8n_workflows": "Ficheiros locais em /workflows/ — importar directamente no n8n (2 ficheiros)"
    }
  },

  "app_workflows": [
    {
      "id": "1",
      "title": "Criação de Conteúdo End-to-End",
      "description": "Gere títulos, escreva conteúdo otimizado para uma história de página e uma imagem para o...",
      "category": "Marketing",
      "favorite": false,
      "steps": [
        { "icon": "message-square", "tool": "ChatGPT",    "status": "pending" },
        { "icon": "image",          "tool": "Midjourney", "status": "pending" },
        { "icon": "smartphone",     "tool": "Buffer",     "status": "pending" }
      ]
    },
    {
      "id": "2",
      "title": "Análise Automática de Feedback",
      "description": "Recolha feedback de clientes, categorize problemas e envie a notíf...",
      "category": "Operações",
      "favorite": false,
      "steps": [
        { "icon": "clipboard-list", "tool": "Typeform",    "status": "pending" },
        { "icon": "message-square", "tool": "ChatGPT",     "status": "pending" },
        { "icon": "message-square", "tool": "Slack",       "status": "pending" }
      ]
    },
    {
      "id": "3",
      "title": "Pesquisa de Leads Automatizada",
      "description": "Encontre prospects no LinkedIn, enriqueça os cidadãos, teste contácto e escreva um email de...",
      "category": "Vendas",
      "favorite": false,
      "steps": [
        { "icon": "linkedin",       "tool": "LinkedIn",   "status": "pending" },
        { "icon": "message-square", "tool": "ChatGPT",    "status": "pending" },
        { "icon": "mail",           "tool": "Gmail",      "status": "pending" }
      ]
    },
    {
      "id": "brand-post-generator",
      "title": "🎨 Brand Post Generator",
      "description": "Gera posts de redes sociais mantendo a identidade visual da sua marca. Integração com n8n para análise automática.",
      "category": "Marketing",
      "favorite": false,
      "steps": [
        { "icon": "image",     "tool": "Análise Visual", "status": "pending" },
        { "icon": "sparkles",  "tool": "GPT-4o Vision",  "status": "pending" },
        { "icon": "image",     "tool": "DALL-E 3",        "status": "pending" }
      ],
      "inputs": [
        { "name": "brandName",      "type": "text",     "label": "Nome da Marca",          "required": true,  "placeholder": "Ex: TechBrand" },
        { "name": "postType",       "type": "select",   "label": "Tipo de Post",            "required": true,  "options": ["Quote Post","Announcement","Carousel Cover","Feature Post","Story Post"] },
        { "name": "topic",          "type": "text",     "label": "Tópico",                  "required": true,  "placeholder": "Ex: New Product Launch" },
        { "name": "mainMessage",    "type": "textarea", "label": "Mensagem Principal",      "required": true,  "placeholder": "Descreve a mensagem principal..." },
        { "name": "headline",       "type": "text",     "label": "Headline",                "required": true,  "placeholder": "Ex: Revolucionando a indústria" },
        { "name": "secondaryText",  "type": "textarea", "label": "Texto Secundário (opcional)", "placeholder": "Texto complementar..." },
        { "name": "format",         "type": "select",   "label": "Formato",                 "options": ["1:1","9:16","16:9"] },
        { "name": "images",         "type": "image",    "label": "Imagens de Referência",   "maxImages": 6 }
      ]
    },
    {
      "id": "n8n-brand-posts",
      "title": "🎨 Gerador de Posts com Identidade Visual",
      "description": "Analisa imagem de marca e gera novos posts mantendo identidade visual consistent",
      "category": "Marketing",
      "favorite": false,
      "webhookUrl": "https://ivannnnnn.app.n8n.cloud/webhook/identidadevisual00",
      "steps": [
        { "icon": "layout",   "tool": "N8N Webhook",   "status": "pending" },
        { "icon": "sparkles", "tool": "GPT-4o Vision", "status": "pending" },
        { "icon": "image",    "tool": "DALL-E 3",       "status": "pending" }
      ],
      "inputs": [
        { "name": "file",           "type": "image",    "label": "Imagem de Referência",    "required": true,  "placeholder": "Carregar imagem com identidade visual" },
        { "name": "post_type",      "type": "select",   "label": "Tipo de Post",             "required": true,  "placeholder": "Selecciona o tipo", "options": ["quote post","story post","carousel post","reel cover"] },
        { "name": "topic",          "type": "text",     "label": "Tema/Tópico",              "required": true,  "placeholder": "ex: Lançamento de novo produto" },
        { "name": "main_message",   "type": "textarea", "label": "Mensagem Principal",       "required": true,  "placeholder": "Texto principal do post" },
        { "name": "format",         "type": "select",   "label": "Formato da Imagem",        "required": true,  "placeholder": "ex: 1:1", "options": ["1:1","9:16","16:9"] },
        { "name": "headline",       "type": "text",     "label": "Headline",                 "required": false, "placeholder": "Título em destaque" },
        { "name": "secondary_text", "type": "text",     "label": "Texto Secundário",         "required": false, "placeholder": "Texto de suporte" }
      ]
    },
    {
      "id": "n8n-product-photo",
      "title": "📸 Fotografia de Produto",
      "description": "Transforma foto do produto em fotografia profissional com modelo humano",
      "category": "Operações",
      "favorite": false,
      "webhookUrl": "https://ivannnnnn.app.n8n.cloud/webhook/generate-product-photo00",
      "steps": [
        { "icon": "layout",   "tool": "N8N Webhook",   "status": "pending" },
        { "icon": "sparkles", "tool": "GPT-4o Vision", "status": "pending" },
        { "icon": "image",    "tool": "DALL-E 3",       "status": "pending" }
      ],
      "inputs": [
        { "name": "file", "type": "image", "label": "Foto do Produto", "required": true, "placeholder": "Carregar foto do produto" }
      ]
    },
    {
      "id": "n8n-remove-background",
      "title": "✨ Remover Fundo",
      "description": "Remove o fundo de uma imagem e retorna PNG com transparência",
      "category": "Operações",
      "favorite": false,
      "webhookUrl": "https://ivannnnnn.app.n8n.cloud/webhook/removerfundo00",
      "steps": [
        { "icon": "layout",   "tool": "N8N Webhook",  "status": "pending" },
        { "icon": "sparkles", "tool": "GPT Image API","status": "pending" }
      ],
      "inputs": [
        { "name": "file", "type": "image", "label": "Imagem", "required": true, "placeholder": "Carregar imagem para remover fundo" }
      ]
    }
  ],

  "n8n_workflows": {
    "design-agent": {
      "_file": "workflows/design-agent.json",
      "_description": "Agente de design conversacional com tool-calling. Webhook: POST /webhook/design-agent",
      "name": "design-agent",
      "nodes": [
        {
          "id": "da-webhook",
          "name": "Webhook",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 2.1,
          "position": [240, 400],
          "parameters": {
            "httpMethod": "POST",
            "path": "design-agent",
            "responseMode": "lastNode",
            "options": {}
          },
          "webhookId": "da-design-agent-001"
        },
        {
          "id": "da-build",
          "name": "Build Context",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [460, 400],
          "parameters": {
            "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst message = body.message || '';\nconst brandId = body.brand_id || '';\nconst history = (body.history || []).slice(-8);\n\nconst TOOLS = [\n  { type: 'function', function: { name: 'generate_post', description: 'Gera um post completo com legenda, hashtags e CTA. Usa quando o utilizador pede um post, publicacao ou caption para redes sociais.', parameters: { type: 'object', properties: { theme: { type: 'string', description: 'Tema do post' }, platform: { type: 'string', enum: ['Instagram', 'LinkedIn', 'Facebook', 'TikTok', 'Twitter/X'] }, goal: { type: 'string', enum: ['Engagement', 'Awareness', 'Conversao', 'Educacao', 'Entretenimento'] }, format: { type: 'string', enum: ['Post simples', 'Carrossel', 'Story', 'Reel', 'Artigo'] }, extra_context: { type: 'string' } }, required: ['theme', 'platform', 'goal', 'format'] } } },\n  { type: 'function', function: { name: 'generate_visual', description: 'Gera uma imagem com IA para a marca. Usa quando o utilizador pede uma imagem, visual, arte ou ilustracao.', parameters: { type: 'object', properties: { concept: { type: 'string', description: 'Descricao detalhada do visual a criar' }, aspect_ratio: { type: 'string', enum: ['1:1 (Feed)', '9:16 (Story/Reel)', '16:9 (Landscape)', '4:5 (Feed vertical)'] }, text_overlay: { type: 'string' } }, required: ['concept', 'aspect_ratio'] } } },\n  { type: 'function', function: { name: 'generate_carousel', description: 'Cria slides de carrossel. Usa quando o utilizador pede um carrossel ou slides.', parameters: { type: 'object', properties: { topic: { type: 'string' }, num_slides: { type: 'string', enum: ['3', '5', '7', '10'] }, platform: { type: 'string', enum: ['Instagram', 'LinkedIn', 'Facebook'] } }, required: ['topic', 'num_slides', 'platform'] } } },\n  { type: 'function', function: { name: 'repurpose_content', description: 'Adapta conteudo existente para multiplas plataformas.', parameters: { type: 'object', properties: { source_url: { type: 'string' }, source_text: { type: 'string' }, platforms: { type: 'string', enum: ['Instagram + LinkedIn', 'Instagram + TikTok', 'LinkedIn + Twitter/X', 'Todas (Instagram, LinkedIn, TikTok, Twitter/X)'] }, num_posts: { type: 'string', enum: ['1', '2', '3'] } }, required: ['platforms', 'num_posts'] } } },\n  { type: 'function', function: { name: 'weekly_batch', description: 'Gera um calendario de conteudo para 7 dias. Usa quando o utilizador pede um plano semanal.', parameters: { type: 'object', properties: { themes: { type: 'string' }, platform: { type: 'string', enum: ['Instagram', 'LinkedIn', 'Facebook', 'TikTok'] }, post_frequency: { type: 'string', enum: ['1 post/dia (7 posts)', 'Dias uteis (5 posts)', '3 posts/semana'] } }, required: ['themes', 'platform', 'post_frequency'] } } },\n  { type: 'function', function: { name: 'generate_bio', description: 'Gera uma bio otimizada para redes sociais.', parameters: { type: 'object', properties: { platform: { type: 'string', enum: ['Instagram', 'LinkedIn', 'TikTok', 'Twitter/X', 'YouTube'] }, tone_extra: { type: 'string' } }, required: ['platform'] } } },\n];\n\nconst sysLines = [\n  'Es o Assistente de IA Design da Celeuma IA.',\n  'Ajudas a criar conteudo de marca coerente, estrategico e com impacto visual.',\n  'Respondes SEMPRE em portugues europeu.',\n  'Antes de usar uma ferramenta, dizes em 1-2 frases o que vais fazer.',\n  'Apos receber o resultado de uma ferramenta, apresentas-o de forma clara e concisa.',\n  'Faz perguntas de clarificacao APENAS quando falta informacao essencial.',\n  'Quando o utilizador pede conteudo sem especificar plataforma, escolhe a mais adequada e avanca.',\n];\nif (brandId) {\n  sysLines.push(`Marca ativa: brand_id=\"${brandId}\". O Brand Style Profile e carregado automaticamente pelos geradores.`);\n} else {\n  sysLines.push('Sem marca ativa. Podes criar conteudo generico. Se o utilizador pedir conteudo de marca, sugere selecionar uma na sidebar.');\n}\n\nconst messages = [\n  { role: 'system', content: sysLines.join(' ') },\n  ...history,\n  { role: 'user', content: message }\n];\n\nreturn [{ json: {\n  openai_body: { model: 'gpt-4o', messages, tools: TOOLS, tool_choice: 'auto', max_tokens: 900, temperature: 0.7 },\n  messages,\n  brand_id: brandId,\n} }];"
          }
        },
        {
          "id": "da-oai1",
          "name": "OpenAI First",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [680, 400],
          "parameters": {
            "method": "POST",
            "url": "https://api.openai.com/v1/chat/completions",
            "authentication": "predefinedCredentialType",
            "nodeCredentialType": "openAiApi",
            "sendBody": true,
            "contentType": "raw",
            "rawContentType": "application/json",
            "body": "={{ JSON.stringify($json.openai_body) }}",
            "options": {}
          },
          "credentials": { "openAiApi": { "id": "55MhlttgGrCNE3gx", "name": "OpenAI account" } }
        },
        {
          "id": "da-handle",
          "name": "Handle & Execute",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [900, 400],
          "parameters": {
            "jsCode": "const oai = $input.first().json;\nconst ctx = $('Build Context').first().json;\nconst choice = oai.choices?.[0];\nconst finishReason = choice?.finish_reason;\n\nif (finishReason === 'stop' || !choice?.message?.tool_calls?.length) {\n  return [{ json: { done: true, reply: choice?.message?.content || 'Pronto!', actions: [] } }];\n}\n\nconst toolCalls = choice.message.tool_calls;\nconst actions = [];\nconst toolResults = [];\n\nconst TOOL_PATHS = {\n  generate_post: 'generate-post',\n  generate_visual: 'generate-visual',\n  generate_carousel: 'generate-carousel',\n  repurpose_content: 'repurpose-content',\n  weekly_batch: 'weekly-batch',\n  generate_bio: 'generate-bio',\n  extract_brand_style: 'extract-brand-style',\n};\n\nfor (const tc of toolCalls) {\n  const fnName = tc.function.name;\n  let args;\n  try { args = JSON.parse(tc.function.arguments || '{}'); } catch { args = {}; }\n  const path = TOOL_PATHS[fnName];\n\n  if (!path) {\n    toolResults.push({ tool_call_id: tc.id, role: 'tool', content: 'Ferramenta desconhecida.' });\n    continue;\n  }\n\n  const payload = { ...args, brand_id: ctx.brand_id };\n\n  try {\n    const res = await fetch(`http://localhost:5678/webhook/${path}`, {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify(payload),\n      signal: AbortSignal.timeout(90000),\n    });\n    const output = await res.json();\n    actions.push({ workflowId: fnName.replace(/_/g, '-'), output });\n    toolResults.push({ tool_call_id: tc.id, role: 'tool', content: JSON.stringify(output).slice(0, 3000) });\n  } catch (e) {\n    const msg = `Erro ao executar ${fnName}: ${e.message}`;\n    actions.push({ workflowId: fnName.replace(/_/g, '-'), output: { message: msg } });\n    toolResults.push({ tool_call_id: tc.id, role: 'tool', content: msg });\n  }\n}\n\nconst secondMessages = [ ...ctx.messages, choice.message, ...toolResults ];\n\nreturn [{ json: {\n  done: false,\n  second_body: { model: 'gpt-4o', messages: secondMessages, max_tokens: 500, temperature: 0.7 },\n  actions,\n} }];"
          }
        },
        {
          "id": "da-if",
          "name": "Done?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.2,
          "position": [1120, 400],
          "parameters": {
            "conditions": {
              "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
              "conditions": [{ "id": "cond-done", "leftValue": "={{ $json.done }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
              "combinator": "and"
            },
            "options": {}
          }
        },
        {
          "id": "da-format-direct",
          "name": "Format Direct",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [1340, 280],
          "parameters": { "jsCode": "const d = $input.first().json;\nreturn [{ json: { reply: d.reply || '', actions: d.actions || [] } }];" }
        },
        {
          "id": "da-oai2",
          "name": "OpenAI Second",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [1340, 520],
          "parameters": {
            "method": "POST",
            "url": "https://api.openai.com/v1/chat/completions",
            "authentication": "predefinedCredentialType",
            "nodeCredentialType": "openAiApi",
            "sendBody": true,
            "contentType": "raw",
            "rawContentType": "application/json",
            "body": "={{ JSON.stringify($json.second_body) }}",
            "options": {}
          },
          "credentials": { "openAiApi": { "id": "55MhlttgGrCNE3gx", "name": "OpenAI account" } }
        },
        {
          "id": "da-extract",
          "name": "Extract Final",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [1560, 520],
          "parameters": { "jsCode": "const oai = $input.first().json;\nconst toolData = $('Handle & Execute').first().json;\nconst text = oai.choices?.[0]?.message?.content || 'Feito!';\nreturn [{ json: { reply: text, actions: toolData.actions || [] } }];" }
        }
      ],
      "connections": {
        "Webhook":          { "main": [[{ "node": "Build Context",    "type": "main", "index": 0 }]] },
        "Build Context":    { "main": [[{ "node": "OpenAI First",     "type": "main", "index": 0 }]] },
        "OpenAI First":     { "main": [[{ "node": "Handle & Execute", "type": "main", "index": 0 }]] },
        "Handle & Execute": { "main": [[{ "node": "Done?",            "type": "main", "index": 0 }]] },
        "Done?":            { "main": [[{ "node": "Format Direct",    "type": "main", "index": 0 }], [{ "node": "OpenAI Second", "type": "main", "index": 0 }]] },
        "OpenAI Second":    { "main": [[{ "node": "Extract Final",    "type": "main", "index": 0 }]] }
      },
      "settings": { "executionOrder": "v1" },
      "staticData": null,
      "tags": [],
      "triggerCount": 0,
      "versionId": "1"
    },

    "identidade-visual-posts": {
      "_file": "workflows/identidade-visual-posts.json",
      "_description": "Gerador de posts com identidade visual. Webhook: POST /webhook/identidadevisual18 → analisa imagem → gera prompt → GPT Image → Google Drive",
      "name": "My workflow 3",
      "nodes": [
        {
          "parameters": { "httpMethod": "POST", "path": "identidadevisual18", "responseMode": "lastNode", "options": { "rawBody": false } },
          "id": "1cfb0083-2d5f-40b7-bda8-d298149c8a41",
          "name": "Webhook",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 2.1,
          "position": [336, 1328],
          "webhookId": "5b8b3440-bec1-43ae-958b-f491dadfe934"
        },
        {
          "parameters": { "jsCode": "const item = $input.first();\n\nconst debugInfo = {\n  jsonKeys: Object.keys(item.json || {}),\n  binaryKeys: Object.keys(item.binary || {}),\n  bodyKeys: Object.keys(item.json?.body || {}),\n  filesKeys: Object.keys(item.json?.files || {}),\n};\n\nconst body = item.json.body || item.json || {};\nconst files = item.json.files || {};\n\nconst uploadedFile =\n  item.binary?.file ||\n  item.binary?.data ||\n  item.binary?.image ||\n  files.file?.[0] ||\n  files.data?.[0] ||\n  files.image?.[0];\n\nif (!uploadedFile) {\n  throw new Error('File not found. Debug: ' + JSON.stringify(debugInfo));\n}\n\nreturn [{\n  json: {\n    postType: body.postType || body.post_type || 'quote post',\n    topic: body.topic || '',\n    mainMessage: body.mainMessage || body.main_message || body.message || '',\n    format: body.format || '1:1',\n    headline: body.headline || body.mainMessage || body.message || '',\n    secondaryText: body.secondaryText || body.secondary_text || ''\n  },\n  binary: {\n    data: uploadedFile\n  }\n}];" },
          "id": "557c4927-af10-4f68-8c90-20bf95580adb",
          "name": "Extract Form Data1",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [560, 1328]
        },
        {
          "parameters": {
            "resource": "image", "operation": "analyze",
            "modelId": { "__rl": true, "value": "gpt-4o", "mode": "list" },
            "text": "Your job is to describe the brand's visual DNA with enough precision that another AI image model can generate new posts that feel consistent with this brand.\n\nAnalyze only what is visible in the reference. If something is uncertain, mark it as inferred.\n\nExtract the following:\n\nBrand feeling\n\nDescribe the brand's emotional tone in 3 to 6 precise words.\n\nVisual category\n\nIdentify the visual world this brand belongs to: luxury, playful, editorial, tech, wellness, streetwear, educational, creator-led, minimal, chaotic, cinematic, corporate, handcrafted, futuristic, etc.\n\nColor system\n\nExtract the main palette with approximate HEX colors:\n\nPrimary color\n\nSecondary color\n\nAccent color\n\nBackground color\n\nText color\n\nHighlight color\n\nAlso describe saturation, contrast, warmth, and whether the palette feels soft, bold, muted, glossy, earthy, neon, pastel, monochrome, or high contrast.\n\nTypography and text style\n\nDescribe the visible typography:\n\nFont category\n\nWeight\n\nLetter spacing\n\nCase style\n\nHierarchy\n\nText placement\n\nText-to-image ratio\n\nHow headlines are treated\n\nHow secondary text is treated\n\nLayout system\n\nDescribe the composition rules:\n\nGrid style\n\nAlignment\n\nMargins\n\nNegative space\n\nImage placement\n\nText placement\n\nUse of frames, borders, cards, overlays, stickers, labels, or badges\n\nHow crowded or spacious the design feels\n\nImage style\n\nDescribe the imagery:\n\nPhotography, illustration, 3D, collage, flat graphics, mixed media, UI screenshot, editorial, UGC, cinematic, product-focused, character-focused, abstract\n\nSubject framing\n\nCamera angle\n\nDepth of field\n\nCropping style\n\nTexture and sharpness\n\nLighting and surface treatment\n\nDescribe:\n\nLighting direction\n\nLighting quality\n\nShadow softness\n\nHighlight style\n\nGloss, grain, blur, noise, gradients, glass, paper, metal, fabric, or other visible materials\n\nGraphic elements\n\nList recurring visual motifs:\n\nShapes\n\nIcons\n\nLines\n\nArrows\n\nPatterns\n\nGradients\n\nTexture overlays\n\nDecorative marks\n\nMotion cues\n\nUI elements\n\nSocial media adaptation rules\n\nExplain how to create new posts in this identity:\n\nHow a quote post should look\n\nHow an announcement post should look\n\nHow a carousel cover should look\n\nHow a product or feature post should look\n\nHow a story or vertical post should look\n\nAnti-drift rules\n\nList the visual choices that must stay consistent so future generations do not drift away from the brand.\n\nOutput the final result as:\n\nA. Short Brand DNA Summary\n\nB. Detailed Visual Identity Notes\n\nC. Reusable Brand Identity Block in JSON:\n\n{\n\n  \"brand_style\": {\n\n    \"name\": \"\",\n\n    \"mood\": [],\n\n    \"color_palette\": {\n\n      \"primary\": \"\",\n\n      \"secondary\": \"\",\n\n      \"accent\": \"\",\n\n      \"background\": \"\",\n\n      \"text\": \"\",\n\n      \"highlight\": \"\"\n\n    },\n\n    \"typography\": {\n\n      \"font_category\": \"\",\n\n      \"weight\": \"\",\n\n      \"case_style\": \"\",\n\n      \"hierarchy\": \"\",\n\n      \"text_placement\": \"\"\n\n    },\n\n    \"layout\": {\n\n      \"composition\": \"\",\n\n      \"alignment\": \"\",\n\n      \"spacing\": \"\",\n\n      \"graphic_system\": \"\"\n\n    },\n\n    \"imagery\": {\n\n      \"style\": \"\",\n\n      \"cameraorrendering\": \"\",\n\n      \"subject_framing\": \"\",\n\n      \"texture\": \"\"\n\n    },\n\n    \"lighting\": {\n\n      \"direction\": \"\",\n\n      \"quality\": \"\",\n\n      \"shadow_style\": \"\",\n\n      \"highlight_style\": \"\"\n\n    },\n\n    \"social_rules\": {\n\n      \"quote_post\": \"\",\n\n      \"announcement_post\": \"\",\n\n      \"carousel_cover\": \"\",\n\n      \"feature_post\": \"\",\n\n      \"story_post\": \"\"\n\n    },\n\n    \"antidriftrules\": []\n\n  }\n\n}\n\nD. One reusable generation prompt template that uses this identity block.",
            "inputType": "base64", "options": {}
          },
          "id": "414db7e8-7de8-4753-bc2c-ec9b09b0ba2e",
          "name": "Analyze Product Image",
          "type": "@n8n/n8n-nodes-langchain.openAi",
          "typeVersion": 2.3,
          "position": [784, 1328],
          "credentials": { "openAiApi": { "id": "55MhlttgGrCNE3gx", "name": "OpenAI account" } }
        },
        {
          "parameters": {
            "modelId": { "__rl": true, "value": "gpt-4o", "mode": "list" },
            "messages": { "values": [
              { "content": "=You are a prompt-writer for an AI image generation model.\n\nYou will receive a brand visual identity analysis (derived ONLY from the reference image) and some post inputs (post type, topic, headline, format).\n\nTask: write ONE final image-generation prompt for the model to create a new social media post image that fits the same feed/brand identity.\n\nRules:\n- Preserve the brand's visual identity exactly (colors, typography feel, layout logic, imagery treatment, graphic motifs).\n- If something in the identity is uncertain, keep it conservative and do not invent specifics.\n- Make text readable with strong hierarchy and brand-consistent spacing.\n- Output ONLY the final prompt text (no markdown, no JSON).", "role": "system" },
              { "content": "=Using the brand identity block below, create a new social media post image for:\n\nPost type: {{ $(\"Extract Form Data1\").item.json.postType }}\nTopic: {{ $(\"Extract Form Data1\").item.json.topic }}\nMain message: {{ $(\"Extract Form Data1\").item.json.mainMessage }}\nFormat: {{ $(\"Extract Form Data1\").item.json.format }}\n\nPreserve the brand's visual identity exactly:\n\n{{ $(\"Analyze Product Image\").item.json.content || $(\"Analyze Product Image\").item.json.message?.content || \"\" }}\n\nGenerate a new design that follows the same color system, typography style, layout logic, image treatment, lighting, textures, and graphic motifs. Make it feel like part of the same social feed, while creating a fresh composition for this specific post.\n\nUse the main message as the headline:\n\"{{ $(\"Extract Form Data1\").item.json.headline }}\"\n\nIf secondary text is needed, use:\n\"{{ $(\"Extract Form Data1\").item.json.secondaryText }}\"" }
            ]},
            "options": {}
          },
          "id": "9a20744f-e512-4e56-b187-8ac21356b835",
          "name": "Create Image Prompt",
          "type": "@n8n/n8n-nodes-langchain.openAi",
          "typeVersion": 1.8,
          "position": [1008, 1328],
          "credentials": { "openAiApi": { "id": "55MhlttgGrCNE3gx", "name": "OpenAI account" } }
        },
        {
          "parameters": {
            "method": "POST",
            "url": "https://api.openai.com/v1/images/generations",
            "authentication": "predefinedCredentialType",
            "nodeCredentialType": "openAiApi",
            "sendHeaders": true,
            "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
            "sendBody": true,
            "contentType": "raw",
            "rawContentType": "application/json",
            "body": "={{ JSON.stringify({ model: \"gpt-image-2\", prompt: $json.message.content, n: 1, size: (() => { const f = $(\"Extract Form Data1\").item.json.format || \"1:1\"; if (f === \"9:16\") return \"1024x1792\"; if (f === \"16:9\") return \"1792x1024\"; if (f === \"4:5\") return \"1024x1280\"; return \"1024x1024\"; })() }) }}",
            "options": { "timeout": 120000 }
          },
          "id": "6d2d3d1e-fab2-49f7-9f82-29400b1728ed",
          "name": "GPT Image API",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [1360, 1328],
          "credentials": { "openAiApi": { "id": "55MhlttgGrCNE3gx", "name": "OpenAI account" } }
        },
        {
          "parameters": { "operation": "toBinary", "sourceProperty": "data[0].b64_json", "options": {} },
          "id": "0e981003-0466-4f1a-98d0-02fceea933a5",
          "name": "Convert To Binary",
          "type": "n8n-nodes-base.convertToFile",
          "typeVersion": 1.1,
          "position": [1584, 1328]
        },
        {
          "parameters": {
            "name": "createdImage",
            "driveId": { "__rl": true, "mode": "list", "value": "My Drive" },
            "folderId": { "__rl": true, "value": "1rrdo_-_j_2FsGBEkUcTuTQRHfG0-AXHF", "mode": "list", "cachedResultName": "Imagens n8n", "cachedResultUrl": "https://drive.google.com/drive/folders/1rrdo_-_j_2FsGBEkUcTuTQRHfG0-AXHF" },
            "options": {}
          },
          "id": "6eb379ba-2f33-4329-8855-b6ca006e0467",
          "name": "Upload Image",
          "type": "n8n-nodes-base.googleDrive",
          "typeVersion": 3,
          "position": [1808, 1328]
        },
        {
          "parameters": {
            "assignments": { "assignments": [
              { "name": "success",               "value": "=true",                                                                                   "type": "boolean", "id": "a1" },
              { "name": "fileId",                "value": "={{ $json.id }}",                                                                         "type": "string",  "id": "a2" },
              { "name": "fileName",              "value": "={{ $json.name }}",                                                                        "type": "string",  "id": "a3" },
              { "name": "viewLink",              "value": "={{ $json.webViewLink }}",                                                                 "type": "string",  "id": "a4" },
              { "name": "downloadLink",          "value": "={{ $json.webContentLink }}",                                                              "type": "string",  "id": "a5" },
              { "name": "thumbnailLink",         "value": "={{ $json.thumbnailLink }}",                                                               "type": "string",  "id": "a6" },
              { "name": "createdAt",             "value": "={{ $json.createdTime }}",                                                                 "type": "string",  "id": "a7" },
              { "name": "imagePrompt",           "value": "={{ $('Create Image Prompt').item.json.message.content }}",                               "type": "string",  "id": "a8" },
              { "name": "brandIdentityAnalysis", "value": "={{ $('Analyze Product Image').item.json.content || $('Analyze Product Image').item.json.message?.content || '' }}", "type": "string", "id": "a9" }
            ]},
            "options": {}
          },
          "id": "c8f1e96a-4ee7-4f33-a5dc-889df5a8456c",
          "name": "Format Response",
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [2032, 1328]
        }
      ],
      "connections": {
        "Webhook":              { "main": [[{ "node": "Extract Form Data1",    "type": "main", "index": 0 }]] },
        "Extract Form Data1":   { "main": [[{ "node": "Analyze Product Image", "type": "main", "index": 0 }]] },
        "Analyze Product Image":{ "main": [[{ "node": "Create Image Prompt",   "type": "main", "index": 0 }]] },
        "Create Image Prompt":  { "main": [[{ "node": "GPT Image API",         "type": "main", "index": 0 }]] },
        "GPT Image API":        { "main": [[{ "node": "Convert To Binary",     "type": "main", "index": 0 }]] },
        "Convert To Binary":    { "main": [[{ "node": "Upload Image",          "type": "main", "index": 0 }]] },
        "Upload Image":         { "main": [[{ "node": "Format Response",       "type": "main", "index": 0 }]] }
      },
      "settings": { "executionOrder": "v1", "binaryMode": "separate" },
      "staticData": null,
      "pinData": {},
      "triggerCount": 0,
      "meta": null
    }
  }
}
